 @model CategoriaModel
 @{
    if(Context.Request.RouteValues.ContainsKey("id"))
        ViewBag.Subtitulo = "Alteração de Categoria";
        else
        ViewBag.Subtitulo = "Cadastro de Categoria";
 }
 <h1>@ViewBag.Subtitulo</h1>
 <hr>
 <form asp-action="Cadastrar">
    <input type="hidden" asp-for="@Model.IdCategoria">
    <div class="">
        <label asp-for="@Model.Nome">Nome:</label>
        <input asp-for="@Model.Nome" class="" autofocus>
        <span asp-validation-for="@Model.Nome" class=""></span>
    </div>
    <div class="">
        <a asp-action="Index" >Cancelar</a>
        <button type="submit">Salvar</button>
    </div>
 </form>