 @model ProdutoModel
 @{
    if(Context.Request.RouteValues.ContainsKey("id"))
        ViewBag.Subtitulo = "Alteração de Produto";
        else
        ViewBag.Subtitulo = "Cadastro de Produto";

         static string buttonStyle(string primary,string secondary){
       return $"bg-{primary} hover:bg-{secondary}-100 text-black font-semibold py-1 px-4 my-auto border border-{secondary}-400 rounded shadow text-center text-xs";
  
  }
 }
<div class=" w-[70%] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] mx-auto p-[30px] my-[20px] text-justify ">


 <h1 class="font-bold">@ViewBag.Subtitulo</h1>
 <hr>
 <form asp-action="Cadastrar">
    <input type="hidden" asp-for="@Model.IdProduto">
    <div class="">
        <label asp-for="@Model.Nome">Nome:</label>
        <input asp-for="@Model.Nome" class="" autofocus>
        <span asp-validation-for="@Model.Nome" class=""></span>
    </div>
    <div class="w-[100%]"></div>
    <div class="">
        <label asp-for="@Model.IdCategoria">Categoria:</label>
        <select asp-for="@Model.IdCategoria"asp-items="@(IEnumerable<SelectListItem>)ViewBag.Categorias" class="" ></select>
        <span asp-validation-for="@Model.IdCategoria" class=""></span>
    </div>
        <div class="w-[100%]"></div>
        <div class="">
        <label asp-for="@Model.Estoque">Estoque:</label>
        <input asp-for="@Model.Estoque" class="" >
        <span asp-validation-for="@Model.Estoque" class=""></span>
    </div>
    <div class="">
        <label asp-for="@Model.Preco">Preco:</label>
        <input asp-for="@Model.Preco" class="" autofocus>
        <span asp-validation-for="@Model.Preco" class=""></span>
    </div>

        
        

    <div class="">
        <a class="@buttonStyle("red-400","red")" asp-action="Index" >Cancelar</a>
        <button class="@buttonStyle("green-400","green") type="submit">Salvar</button>
    </div>
 </form>
 </div>