@model IEnumerable<ProdutoModel>

@{
    ViewBag.Subtitulo = "Listagem de Produtos";
    static string buttonStyle(string primary,string secondary){
       return $"bg-{primary} hover:bg-{secondary}-100 text-black font-semibold py-1 px-4 my-auto border border-{secondary}-400 rounded shadow text-center text-xs";
  
  }

}

<div class=" w-[70%] shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] mx-auto p-[30px] my-[20px] text-justify ">

<header class="flex flex-row justify-center mb-[30px]">
    <div class="mx-[20px]">
        <h1 class="text-bold text-[20px] font-mono">@ViewBag.Subtitulo</h1>
    </div>
    <div class="mx-[20px]">
        <a asp-action="Cadastrar" class="@buttonStyle("green-300","green")">Novo Produto</a>
    </div>
</header>

<partial name="_Mensagem"></partial>
@if (Model.Count() > 0)
{
    
    <table class="mx-auto shadow-[rgba(0,_0,_0,_0.24)_0px_3px_8px] tabela-categorias w-[600px] bg-indigo-100  p-[40px]">
        <thead class="bg-indigo-200 w-[600px]">
            <tr class="w-[500px]">
                <th>Nome</th>
                <th>Categoria</th>
                <th>Estoque</th>
                <th>Preco</th>
                <th >Ações</th>
                
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in Model)
            {
                <tr class="">
                    <td class=" font-bold h-[40px] w-[450px]">@produto.Nome </td>
                    <td class=" font-bold h-[40px] w-[450px]">@produto.Categoria.Nome </td>
                    <td class=" font-bold h-[40px] w-[450px]">@produto.Estoque.ToString("D4") </td>
                    <td class=" font-bold h-[40px] w-[450px]">@produto.Preco.ToString("C") </td>
                    
                    <td class="flex justify-around w-[150px]">
                     <a class="    @buttonStyle("blue-400","indigo")" asp-action="Cadastrar" asp-route-id="@produto.IdProduto" 
                     class="">Alterar</a>
                      
                     <a class=" @buttonStyle("red-400","indigo")" asp-action="Excluir" asp-route-id="@produto.IdProduto" class="">Excluir</a>
                    
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
else{
    <p>Não existem produtos cadastrados!</p>
}
</div>
